.fondopokedex {
  position: fixed;
  left: 0px;
  height: 100vh;
  width: 110%;
  object-fit: cover;
  top: 5vh;
  z-index: -10;
  opacity: 70%;
  filter: blur(5px);
}
.pokedex {
  width: auto;
  min-height: 92vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.search {
  text-align: center;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search > input {
  text-align: center;
  padding: 8px 12px;
  border-radius: 10px;
  border: 2px solid blue;
}
.search > input:focus {
  outline: 2px solid rgb(249, 216, 0);
  border: none;
}
.pokemoncard {
  border-radius: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: auto;
  width: 300px;
  gap: 10px;
}
.img {
  width: 200px;
  height: auto;
}
.imgpokemon {
  height: 500px;
  width: auto;
}

.pokemonsname {
  font-size: 50px;
  text-transform: uppercase;
}
